security:
  encoders:
    App\Entity\User: bcrypt

  providers:
    doctrine:
      entity:
        class: App:User
        property: username

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      anonymous: ~
      pattern: ^/
      form_login:
        login_path: login
        always_use_default_target_path: true
        default_target_path: /
      guard:
        authenticators:
          - App\Security\LoginFormAuthenticator
      logout:
        path: logout

  access_control:
    - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
    - { path: ^/users, roles: IS_AUTHENTICATED_ANONYMOUSLY }
    - { path: ^/, roles: IS_AUTHENTICATED_ANONYMOUSLY }
