/* Reset */
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    background-color: transparent;
}
img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
h1 {
    text-align: center;
}
select {
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: white;
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
}
/* Navbar */
nav {
    background-color: #e3f2fd;
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 0;
}
.topnav a {
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1px;
    color: #015668;
    line-height: initial;
    display: block;
    margin-right: 2%;
}
.topnav a:hover {
    color: #fff;
    background-color: #015668;
    border-radius: 4px;
}
.topnav{
    display: flex;
    flex-wrap: wrap;
}
.navbar-header img {
    width: 60px;
}
.navbar-header {
    width: 60%;
    display: flex;
    align-content: center;
    align-items: center;
}
.navbar-right {
    width: 40%;
    display: flex;
    align-content: center;
    align-items: center;    
    justify-content: flex-end;
}
.topnav .icon {
    display: none;
}
.topnav .icon img {
    width: 24px;
}
/* Login block */
.login-form {
    width: 30%;
    position: fixed;
    z-index: 10;
    top: 30%;
    left: 35%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
}
.login-form label {
    width: 100%;
    margin-bottom: 2%;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1px;
    color: #015668;
}
.login-form input {
    width: 100%;
    margin-bottom: 4%;
    border-radius: 4px;
    line-height: 1.2em;
    padding: 2% 0;
    border-width: 0;
}
.login-form .btn{
    width: 100%;
    margin-top: 2%;
}
/* Register block */
.register-form {
    width: 60%;
    margin: 0 auto;
    padding: 2%;
    background-color: #f2f2f2;
    border-radius: 4px;
}
.register-form label {
    width: 100%;
    margin-bottom: 2%;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1px;
    color: #015668;
    display: block;
}
.register-form input {
    width: 100%;
    margin-bottom: 4%;
    border-radius: 4px;
    line-height: 1.2em;
    padding: 2% 0;
    border-width: 0;
}
.register-form .btn{
    width: 100%;
    margin-top: 2%;
    padding: 2% 0;
}
#user_roles input {
    display: inline-block;
    width: initial;
    margin-right: 5px;
}
#user_roles label {
    display: inline-block;
    width: initial;
    margin-right: 5%;
}
#user_roles {
    width: 100%;
    height: 40px;
    display: block;
    margin-bottom: 4%;
    border-radius: 4px;
    line-height: 1.2em;
    border-width: 0;
    overflow: hidden;
}
#user_roles option {
    margin-bottom: 4px;
}
/* Container img */
.container .slide-image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}
.container .slide-image-list {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
/* Alert-success */
.alert-success {
    color: #37bd74;
    background-color: #e8e8e8;
    padding: 15px;
    font-size: 1.2em;
    letter-spacing: 1px;
}
/* Buttons */
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn:hover {
    color: #fff;
    background-color: #6f7f8c;
    border-color: #6f7f8c;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-success {
    color: #fff;
    background-color: #015668;
    border-color: #015668;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-secondary {
    color: #fff;
    background-color: #6f7f8c;
    border-color: #6f7f8c;
}
.btn-warning {
    color: #fff;
    background-color: #6e9fa5;
    border-color: #6e9fa5;
}
/* Table */
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    color: #212529;
    border-collapse: collapse;
}
th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: center;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
/* Task-nav block */
.task-nav {
    position: fixed;
    top: 30%;
    padding: 2%;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.task-nav a {
    margin-bottom: 4%;
}
/* Create-task block */
.create-task {
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    padding: 2%;
    z-index: 9;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
}
.create-task label {
    width: 100%;
    margin-bottom: 2%;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1px;
    color: #015668;
}
.create-task input {
    width: 100%;
    margin-bottom: 4%;
    border-radius: 4px;
    line-height: 1.2em;
    padding: 2% 0;
    border-width: 0;
}
.create-task textarea {
    width: 100%;
    margin-bottom: 4%;
    border-radius: 4px;
    line-height: 1.2em;
    padding: 2% 0;
    border-width: 0;
}
.create-btn {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
}
.create-task .btn{
    width: 47%;
    margin-top: 2%;
}
.create-task .edit-btn-list {
    width: 100%;
}
/* List tasks */
.thumbnail-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f2f2f2;
    margin-bottom: 2%;
}
.caption {
    width: 80%;
    padding: 2%;
}
.list-btn {
    width: 18%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.list-btn .btn {
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.glyphicon img {
    width: 24px;
}
.caption .pull-right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 0.3px solid #015668;
}
.caption .pull-right a {
    width: 80%;
    display: block;
    color: #015668;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.caption .pull-right a:hover{
    color: #fff;
    background-color: #015668;
    border-radius: 4px;
}
.caption .pull-right .glyphicon-edit a{
    width: 30px;
}
.caption .pull-right .glyphicon-edit a:hover {
    background-color: #6f7f8c;
    border-color: #6f7f8c;
}
.caption .pull-right span {
    width: 18%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.caption .content-list {
    background-color: #fff;
    padding: 2%;
    border-radius: 4px;
}
.pull-right-list-btn {
    margin: 2%;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 14%;
    display: block;
}
.alert-warning {
    background-color: #f2f2f2;
    text-align: center;
    padding: 2%;
}
/* Access-deny */
.red-access {
    background-color: #d9534f;
    color: #fff;
    text-align: center;
}
/* Footer */
footer {
    background-color: #e3f2fd;
    width: 100%;
    text-align: center;
    position: sticky;
    bottom: 0;
    right: 0;
    padding: 2% 0;
}

@media screen and (max-width: 1100px) {
    .caption {
        width: 70%;
    }
    .list-btn {
        width: 28%;
    }
}

@media screen and (max-width: 900px) {
    .create-btn {
        flex-direction: column;
    }
    .create-task .btn {
        width: 100%;
    }
    .create-task .btn:last-of-type {
        margin-top: 4%;
    }
    .pull-right-list-btn {
        width: 30%;
    }
}

@media screen and (max-width: 780px) {
    .caption {
        width: 65%;
    }
    .list-btn {
        width: 33%;
    }
    h1 {
        font-size: initial;
    }
}

@media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 12;
    }
    .topnav a.active-nav {
        position: relative;
        left: inherit;
    }

    .topnav.responsive a.icon {
        position: fixed;
        right: 0;
        top: 0;
        z-index: 12;
        width: initial;
    }
    .topnav.responsive {
        display: flex;
        flex-direction: column;
    }
    .topnav.responsive a {
        float: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;
    }
    .navbar-right {
        width: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }
    .navbar-header {
        width: 100%;
        flex-direction: column;
    }
    .login-form {
        width: 60%;
        left: 20%;
    }
    .register-form {
        width: 90%;
    }
    .create-task {
        top: 30%;
        left: 10%;
        width: 80%;
    }
    .caption {
        width: 100%;
    }
    .list-btn {
        width: 100%;
    }
    .pull-right-list-btn {
        width: 96%;
    }
    .task-nav {
        top: 50%;
    }
}