{% extends 'base.html.twig' %}

{% block header_title %}<h1>Créer une tâche</h1>{% endblock %}


{% block body %}
    <div class="d-flex justify-content-center flex-column  align-items-center">
        <div class="col-12 col-md-6 ">
        {{ form_start(form, {'action' : path('task_create')}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right">Ajouter</button>
        {{ form_end(form) }}
        </div>
    </div>
    <a href="{{ path('task_list_todo') }}" class="float-end btn btn-primary mt-4">Retour à l'accueil</a>

{% endblock %}
