{% extends 'layout.html.twig' %}

{% block header_title %}
    <h1 id="task-create" class="d-flex justify-content-center my-5">Créer une nouvelle tâche</h1>
{% endblock %}

{% block container %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="w-50">
            {{ form_start(form, {'action' : path('task_create')}) }}
                {{ form_widget(form) }}
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-success me-5">Ajouter</button>
                    <a href="{{ path('task_list_todo') }}" class="btn btn-primary">Retour à la liste des tâches</a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
