{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center flex-column  align-items-center">
        <div class="col-12 col-md-6 ">
        {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right">Modifier</button>
        {{ form_end(form) }}
        </div>
    </div>
    <a href="{{ path('homepage') }}" class="float-end btn btn-primary mt-4">Retour à l'accueil</a>
{% endblock %}
