{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}<h1>Espace reservé aux administrateurs</h1>{% endblock %}

{% block body %}
    <p>Si vous souhaitez accèder à cette page nous invitons à vous connecter à un compte administrateur.</p>
{% endblock %}
