
{% extends 'base.html.twig' %}

{% block header_title %}
    <h1 class="red-access">Désolé, accès refusé !</h1>
{% endblock %}

{% block body %}
    <p class="red-access">
        Ce contenu est réservé aux utilisateurs connectés avec les autorisations appropriées.
    </p>
   
{% endblock %}