{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'app.page.not.found'|trans }}</h1>

    <p>
        <a href="{{ path('homepage') }}">{{ 'app.homepage'|trans }}</a>.
    </p>
{% endblock %}
