{% extends 'base.html.twig' %}

{% block title %}Accès non autorisé{% endblock %}

{% block body %}
    <h1>Accès non autorisé</h1>
    <p>Vous n'avez pas les droits requis pour accéder à cette page.</p>
    <p>Code: {{status_code}} {{status_text}}</p>
{% endblock %}

{# En mode développement, on ne peut pas voir les pages d'erreur personnalisées dans leur contexte, mais on peut les tester :
https://127.0.0.1:8000/index.php/_error/403 #}